* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    perspective: 700px;
}
a{
    text-decoration: none;
}
.navBar{
    width: 80%;
    margin: auto;
}
.navContent{
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.navContent img{
    flex-grow: 3;
    width: 200px;
}
.navContent nav{
     flex-grow: 5;
     text-align: center;
}
.navContent .icons{
     flex-grow: 1;
     text-align: right;
}
.navContent ul li{
    display: inline-block;
    font-size: 19px;
    margin-right: 2px;
}
.navContent ul li a{
    color: #587785;
}
.hoverEffect{
    position: relative;
    padding: 10px;
}
.arrow{
    color: #dd2020;
    font-size: smaller;
    transition: all 0.4s ease;
}
.dropLink:hover .arrow{
    transform: rotateZ(90deg);
}
.hoverEffect:before,
.hoverEffect:after {
    border: 0 solid transparent;
    transition: all 0.4s;
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    opacity: 0;
}
.hoverEffect:before{
   border-top: 2px solid #263059;
   border-right: 2px solid #263059;
   right: 0;
   top: 0;
}
.hoverEffect:after {
   border-bottom: 2px solid #263059;
   border-left: 2px solid #263059;
   bottom: 0;
   left: 0;
}
.hoverEffect:hover:before ,
.hoverEffect:hover:after {
    opacity: 1;
    width: 98%;
    height: 94%;
} 


.dropLink{
    position: relative;
}
.dropDown-menu{
    position: absolute;
    top: 30px;
    width: 450px;
    border: 2px solid #517180;
    background-color: #fff;
    padding: 15px;
    margin-top: 5px;
    transform: scale(0);
    transition: 0.5s;
    visibility: hidden;
    display: flex;
    flex-direction: row;
    z-index: 3;
}
.dropLink:hover .dropDown-menu{
     transform: scale(1);
     visibility: visible;
}
.dropDown-menu ul{
    text-align: left;
}
.dropDown-menu ul li:first-child {
    border-bottom: 1px dotted brown;
    margin-bottom: 10px;
}
.dropDown-menu ul li{
    margin-bottom: 10px;
    padding: 3px;
    
}
.dropDown-menu ul li a {
   position: relative;
}
.dropDown-menu ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: black;
    bottom: -6px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.dropDown-menu ul li a:hover::before {
     transform-origin: left;
     transform: scaleX(1);
}
.icons ul li{
    font-size: 26px;
    cursor: pointer;
    padding: 4px;
}
.num{
    position: relative;
}
.num::after{
      position: absolute;
      content: "0";
      background-color: saddlebrown;
      color: #fff;
      border-radius: 50%;
      padding: 4px;
      font-size: 13px;
      bottom: 0px;
      right: -17px;
}
/*************************************************/
.main-container {
    width: 80%;
    margin: auto;
    position: relative;
}
.main-container img{
    width: 100%;
     height: 450px;
}
.main-info{
    position: absolute;
     top: 30%;
     left: 70px;
}
.title1{
    color: #fff;
    font-size: 62px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     text-shadow: 2px 2px #bd1313;
     letter-spacing: 2px;
}
.btn1 {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid black;
    background-color: whitesmoke;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}
.btn1:hover{
    background-color: #fff;
}
/*************************************************************************/
.category-header{
    text-align: center;
    margin-bottom: 45px;
}
.category-title {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 30px;
}
.underline{
    width: 70px;
    height: 5px;
    margin: auto;
    height: 2px;
    background-color: saddlebrown;
    transition:  .5s;
}
.category-header:hover .underline {
    width: 150px;
}

/*************************************************/
.category-container{
    width: 80%;
    margin: auto;
    margin-bottom: 35px;
}
.category-content{
    display: flex;
    justify-content: space-between;

}
.category-item{
    width: 24%;
    position: relative;
}
.category-item img{
    width: 100%;
    height:250px;
    margin-bottom: 15px;
}
.category-item i{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgb(255, 47, 47);
    color: #fff;
    text-align: center;
    font-size: 36px;
    line-height: 30px;
    bottom: 0;
    right: 0;
    visibility: hidden;
}
.category-item:hover i{
    visibility: visible;
    cursor: pointer;
}
.category-item:hover{
    background-color: rgba(143, 140, 140, 0.1);
}
.category-item h4{
    color: gray;
    padding: 4px;
}
.category-item h3{
padding: 4px;
}
/************************************************/
.discount-content{
    display: flex;
    margin-bottom: 60px;
}
.discount-description{
   flex: 2;
   position: relative;
   background-color: rgb(253, 243, 243);
}
.discount-item1{
    flex: 1;
    position: relative;
     background-image: url(../images/discount1.jpg);
     background-size: cover;
     margin-left: 20px;
     height: 300px;
     transition: transform 0.5s;
}
.discount-item2{
    flex: 1;
    position: relative;
    background-image: url(../images/discount2.jpg);
    background-size: cover;
    margin-left: 20px;
    height: 300px;
    transition: transform 0.5s;
}
.discount-item-info{
    position: absolute;
    top: 20px;
    left: 15px;
}
.discount-item-info h3 {
    font-weight: bolder;
    color: wheat;
    font-size: 20px;
    text-shadow: 1px 1px black;
}

.discount-item-info h2 {
    font-size: 22px;
    text-shadow: 1px 1px white;
}
.discount-item1:hover{
    transform: scale(1.1);
}
.discount-item2:hover {
    transform: scale(1.1);
}
.discount-header{
      position: relative;
      padding: 10px 40px;
      margin-bottom: 20px;
      margin-left: 25px;
}
.discount-header i{
    position: absolute;
    left: -10px;
    top: 10px;
    font-size: 40px;
    color: saddlebrown;
}
.discount-description p{
    margin-top: -15px;
    padding: 10px 15px;
    line-height: 25px;
    letter-spacing: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bullets div{
    display: inline-block;
    width: 50px;
    height: 2px;
    background: saddlebrown;
    margin-left: 10px;
}
.bullets{
    position: absolute;
    bottom: 20px;
    right: 10px;
}
/***************************************************************/
.help-container{
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}
.help-content{
    display: flex;
    justify-content: space-between;
     margin-bottom: 60px;
}
.borderright{
    border-right: 2px solid black;
}
.help-items{
    text-align: center;
    padding: 10px 15px;
    position: relative;
}
.help-icon{
    overflow: hidden;
       
   
}
.help-icon:hover i{
   animation: animateicon .6s linear alternate both;
   
}
.help-icon i{
    color: rgb(173, 166, 166);
    font-size: 34px;
    padding: 10px;
    animation: animateiconout .6s linear alternate both;
}
.help-info h3{
    padding: 10px;
}
.help-info p {
    color: gray;
}
@keyframes animateicon {
    0%{
        transform: translateY(0px)
    }
    25%{
        transform: translateY(-50px);
    }
    26%{
        transform: translateY(50px);
    }
    50%{
        transform: translateY(0px);
        color: saddlebrown;
    }
    100%{
        transform: translateY(0px);
        color: saddlebrown;
    }
}
@keyframes animateiconout {
    0% {
        transform: translateY(0px);
        color: gray;
    }

    1% {
        transform: translateY(-50px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(0px);  
    }
}
/********************************************/
.products-container {
    width: 80%;
    margin: auto;
}
footer{
    margin-top: 90px;
}
footer ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: -30px;
    margin-bottom: 30px;
}
footer ul li {
    margin: 10px 20px;
    font-size: 18px;
}
.product-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    margin: 30px 0px;
    transform-style: preserve-3d;
}
.product-item{
    position: relative;
}
.product-item img{
    width: 350px;
    height: 450px;
}
.product-info i{
    color: orange;
}
.product-info .empty {
    color: black;
}
.overlay{
    width: 100%;
    height: 88%;
    visibility: hidden;
    transform: rotateY(90deg);
    position: absolute; 
    transition: .5s;
    background-size: cover;
}
.item1{
    background-image: url(../images/item1.jpg);
}
.item2 {
    background-image: url(../images/item2.jpg);
}
.item3 {
    background-image: url(../images/item3.jpg);
}
.social{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.social i{
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin: 1px;
    text-align: center;
    font-size: 24px;
    background-color: brown;
    color: #fff;
    transform: rotateY(180deg);
}

.product-item:hover .img{
    opacity: 0;
}
.product-item:hover .overlay{
     background-color: rgba(143, 140, 140, 0.4);
     visibility: visible; 
     transform: rotateY(180deg);
}
